h1{
    background-color: rgb(174, 141, 206);
    color: white;
    text-align: center;
}

body{
    background-color: #EEEDE7;
}

.button {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    background-color: aqua;
    overflow: hidden;
}

.button,
.button_icon,
.button_text {
    transition: all 0.3s;
}

.button .button__text {
    transform: translateX(32px);
    color: #fff;
    font-weight: 600;
}

.cart-items {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    display: none;
}

.cart-items.visible {
    display: block;
}

.cart-icon-container {
    position: relative;
}

.cart-items {
    position: absolute;
    top: 30px;
    right: 0;
    width: 300px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
    z-index: 1000;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.button {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    background-color: aqua;
    overflow: hidden;
}

.button,
.button_icon,
.button_text {
    transition: all 0.3s;
}

.button .button__text {
    transform: translateX(32px);
    color: #fff;
    font-weight: 600;
}

